---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	
	<div class="nav container">
		<!--Menu Icon-->
		<i class='bx bx-menu' id="menu-icon"></i>
		<!--Logo-->
		<a href="#" class="logo"> Voltion <span>Motors  </span></a>
		<!--Nav List-->
		<ul class="navbar">
			<li><a href="/" >Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="#cars">Cars</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="#parts">Contact</a></li>
			
		</ul>
		<!--Search Icon-->
		<i class='bx bx-search' id="search-icon"></i>
		<!--Search Box-->
		<div class="search-box container">
			<input type="search" name="" id="" placeholder="Search here..">
		</div>
	</div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
